services:
  app:
    build:
      context: .
      dockerfile: docker/php-fpm
    container_name: php_fpm
    volumes:
      - ./app:/var/www/html
      - ./src:/var/www/html/datamapper:ro
    expose:
      - 9000
    depends_on:
      - db
    env_file:
      - ./app/.env

  web:
    image: nginx:stable-alpine
    container_name: web
    volumes:
      - ./app:/var/www/html:ro
      - ./src:/var/www/html/datamapper:ro
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - app

  db:
    image: postgres:16-alpine
    container_name: postgres_db
    env_file:
      - ./app/.env
    volumes:
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./docker/postgres_data:/var/lib/postgresql/data
    expose:
      - 5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 8090:8080
volumes:
  postgres_data:
